
.data-container {
    padding: 20px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.weather-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}