.weather-card-container {
    --backgroundColor:linear-gradient(0deg, rgba(34, 193, 195, 0.8) 30%, rgba(253, 187, 45, 0.8) 65%);
    /*--backgroundColor:linear-gradient(0deg, rgba(184, 185, 180, 0.8) 30%, rgba(102, 108, 104, 0.8) 65%);*/
    /*--backgroundColor:linear-gradient(0deg, rgba(125, 159, 176, 0.8) 30%, rgba(22, 124, 143, 0.8) 65%);*/
    height: 30vh;
    width: 60vw;
    background: rgb(34, 193, 195);
    background: var(--backgroundColor);
    border-radius: 30px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: 10px;
}

.weather-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
