.weather-card-container{
    height: 30vh;
    width: 60vw;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 30%, rgba(253,187,45,1) 65%);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}


.weather-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
